@page "/home"
@page "/"
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        @context.User.Claims.Where(x=>x.Type == System.Security.Claims.ClaimTypes.Name).Last().Value
    </Authorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
Welcome to your new app.


